.plan-feature-column {
	display: inline-block;
	font-size: .9em;
	vertical-align: top;
	width: 25%;

	.feature-list {
		text-align: left;
	}
}

.plans-compare__free-trial-exception-message {
	font-size: .8em;
	font-style: italic;
	text-align: right;
	margin-top: 15px;
}

.jetpack_free {
	display: none;
}

.jetpack_premium, .jetpack_business {
	width: 37%;
}

.plans-compare .jetpack_premium .plan-header__title, .plans-compare .jetpack_business .plan-header__title {
	margin-top: 0px;
}

.plans-compare .jetpack-price:first-child {
	margin-top: 0;
}
